form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form input::placeholder {
  font-size: 1rem;
  opacity: 0.4;
}

form input {
  outline: none;
  border-width: 0 0 0.1em 0;
  border-color: aqua;
  background-color: #111;
  font-weight: bolder;
  padding-left: 1rem;
  cursor: pointer;
  caret-color: greenyellow;
  color: greenyellow;
}

button {
  background-color: #029907;
}

button:hover {
  background-color: rgb(133, 187, 53);
}

@media (min-width: 768px) {
  form input,
  button {
    width: 70%;
    height: 2rem;
    margin-top: 1rem;
  }

  #nonEmptyForm {
    width: 50%;
  }

  form button{
    border-radius: 2rem;
    height:3rem;
  }
}

@media (max-width: 768px) {
  form {
    margin-left: 2rem;
    margin-top: 2rem;
  }

  form input {
    width: 90%;
    height: 3rem;
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  button {
    width: 90%;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 1rem;
  }
}
