h1 {
  margin-top: 2rem;
  font-size: xx-large;
  text-align: center;
  color: greenyellow;
}

@media (min-width: 768px) {
  #nonEmpty {
    margin-top: 5rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    transition: all 1s ease-in-out;
  }

  #empty {
    margin-top: 1rem;
    width: 50%;
    margin-left: 35%;
  }
}
