* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: radial-gradient(circle at top, #0d3024, #07120f);
  color: white;
}

input::placeholder {
  color: white;
  text-align: center;
}
